In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/2011-cabi-trip-history-data-final.csv', parse_dates=['start_date','end_date'])

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1127471 entries, 0 to 1127470
Data columns (total 7 columns):
start_date            1127471 non-null datetime64[ns]
end_date              1127471 non-null datetime64[ns]
duration_in_sec       1127471 non-null int64
start_station_name    1127471 non-null object
end_station_name      1127471 non-null object
bike#                 1127471 non-null object
member_type           1127471 non-null object
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 60.2+ MB

In [4]:
df.rename(columns = {'bike#':'bike'},inplace=True)

In [17]:
df.bike.unique().shape

(1323,)

In [9]:
df_bike_runtime = df.groupby([df.bike,df.start_date.dt.month])[['duration_in_sec']].sum()

In [19]:
df_bike_runtime.index.names

FrozenList(['bike', 'start_date'])

In [21]:
df_bike_runtime.sortlevel(inplace=True)

C:\Users\nick\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: sortlevel is deprecated, use sort_index(level= ...)
  """Entry point for launching an IPython kernel.

In [26]:
df_bike_runtime.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 11672 entries, (? (0x00000000), 4) to (w01117, 12)
Data columns (total 1 columns):
duration_in_sec    11672 non-null int64
dtypes: int64(1)
memory usage: 135.9+ KB

In [29]:
df_bike_runtime.reset_index(inplace=True)

In [30]:
df_bike_runtime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11672 entries, 0 to 11671
Data columns (total 3 columns):
bike               11672 non-null object
start_date         11672 non-null int64
duration_in_sec    11672 non-null int64
dtypes: int64(2), object(1)
memory usage: 273.6+ KB

In [33]:
df_bike_runtime.bike.unique().shape

(1323,)

In [36]:
df_bike_runtime['duration_in_min'] = df_bike_runtime.duration_in_sec/60

In [41]:
df_bike_runtime['duration_in_hour'] = df_bike_runtime.duration_in_sec/3600

In [ ]:
df_bike_runtime['duration_in_day'] = df_bike_runtime.duration_in_sec/86400

In [43]:
df_bike_runtime = df_bike_runtime.round(1)

In [38]:
df_bike_runtime.rename(columns = {'start_date':'month'},inplace=True)

In [44]:
df_bike_runtime.head()

,bike,month,duration_in_sec,duration_in_day,duration_in_min,duration_in_hour
0,? (0x00000000),4,1238,0.0,20.6,0.3
1,? (0x00000000),7,354,0.0,5.9,0.1
2,? (0x26B3BBA8),1,26540,0.3,442.3,7.4
3,? (0x26B3BBA8),2,362,0.0,6.0,0.1
4,? (0x26B3BBA8),3,3176,0.0,52.9,0.9

In [45]:
df_bike_runtime.to_csv('data/bike_usage_status.csv')